*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 110vh;
    position: relative;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #030000;
    text-decoration: none;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1110px;
    height: 1100px;
    position: absolute;
    top: -70;
    left: 0;
    border-radius: 50%;
    background: #ccc;
}
.feature img{
    width: 298;
    height: 264;
}
.feature{
    position: absolute;
    display: flex;
    color: black;
}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top: 8px;
}
.survey1{
    top: 180px;
    right: 235px;
}
.survey2{
    top: 480px;
    left: 350px;
}
.survey3{
    top: 780px;
    left: 350px;
}